{% extends "layout.html" %}

{% block body %}

<h5 class="mb-4">Käyttäjien hallinta</h5>
<div class ="container-fluid">
<table>
    <tr>
        <th>
            Etunimi
        </th>
        <th>
            Sukunimi
        </th>
        <th>
            Käyttäjätunnus
        </th>
        <th>
            Rooli
        </th>
        <th>
            Viimeksi nähty
        </th>
        <th>
           
        </th>
    </tr>
    {% for u in users %}
    <tr>
        <td>
            {{ u.firstname }}
        </td>
        <td>
            {{ u.surename }}
        </td>
        <td>
            {{ u.username }}
        </td>
        <td>
            {{ u.role }}
        </td>
        <td>
            
            {% if u.last_login %}
            {{ u.last_login.strftime('%d.%m.%Y klo %H:%M:%S') }}
            {% else %}
            Ei koskaan
            {% endif %}
        </td>
        <td>
                {% if (u.is_active()) and (u.id != current_user.id) %}
                <form method="POST" action="{{ url_for('auth_deactivate', id = u.id) }}">
                    <button class="btn btn-sm btn-outline-danger mr-1 ml-2">Deaktivoi</button>
                </form>
                {% elif u.id != current_user.id %}
                <form method="POST" action="{{ url_for('auth_activate', id = u.id) }}">
                    <button class="btn btn-sm btn-outline-danger mr-1 ml-2">Aktivoi</button>
                </form>
                {% else %}
                <button class="btn btn-sm btn-outline-danger disabled mr-1 ml-2">Oma tili</button>
                {% endif %}
        </td>
        <td>
                {% if (u.is_active()) and (u.id != current_user.id) %}
                <a href="{{ url_for('reset_password', id = u.id) }}" class="btn btn-sm btn-outline-info">Aseta uusi
                    salasana</a>
                {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>
</div>

{% endblock %}