<!DOCTYPE html>


<head>
      <meta charset="utf-8">
      <title>CRM</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


{% block body %}

<nav class="jumbotron bg-white mb-0">
      <img class="mx-auto d-block img-fluid unlock-icon"
            src="{{ url_for('static', filename='images/official_logo.png') }}" width="325" />
</nav>
<div class="container">
      <div class="row">
            <div class="col-4">
            </div>
            <div class="col-sm">
                  {% if error == True %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{error_msg}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                  {% endif %}
            </div>
            <div class="col-4">
            </div>
      </div>
</div>

<div class="d-flex justify-content-center">
      <form method="POST" action="{{ url_for('auth_login') }}">
            <table>
                  <tr>
                        <td>
                              {{ form.username.label }}
                        </td>
                        <td>
                              {{ form.username(class="form-control")}}
                        </td>

                  </tr>
                  <tr>
                        <td>
                              {{ form.password.label }}
                        </td>
                        <td>
                              {{ form.password(class="form-control") }}
                        </td>
                  </tr>
                  <tr>
                        <td colspan="2">
                              <input class="btn btn-primary float-right mt-1" type="submit" value="Kirjaudu sisään" />
                        </td>
                  </tr>
      </form>
</div>


{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>