{% extends "layout.html" %}

{% block body %}


<h5 class="mb-4">Salasanan vaihtaminen käyttäjälle {{ user.firstname }} {{ user.surename }}</h5>

<p>Salasanan tulee olla vähintään kymmenen (10) merkkiä pitkä. Paras salasana sekä tietoturvan että muistettavuuden kannalta keskipitkä lause. Esimerkiksi salasana 'ErikssoniltaEiSaaTuorettaKampelaa' on käytännössä mahdoton murtaa, vaikka käytössä olisi maailman tehokkain tietokone. </p>

{% if passwords_dont_match == True %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    Salasanat eivät täsmää.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<form method="POST" action="{{ url_for('reset_password', id = user.id) }}">

    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.new_password (class="form-control col-sm", placeholder="Uusi salasana")}}
            {% if form.new_password.errors|length > 0 %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Salasanan vähimmäispituus on 10 merkkiä.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.new_password_again (class="form-control col-sm", placeholder="Uusi salasana uudelleen")}}
            {% if form.new_password_again.errors|length > 0 %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Salasanan vähimmäispituus on 10 merkkiä.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
    <input class="btn btn-primary btn-sm" type="submit" value="Vaihda salasana" />
    <a href="{{ url_for('show_scheduled_tasks') }}" class="btn btn-primary btn-sm ml-2">Peruuta</a>
</form>

{% endblock %}